<div class="small-12 medium-3 column text-center">
  <a href="https://youtu.be/9pCx1d0vO7k" target="_blank">
    <%= image_tag ("polls/daan_zandbelt.jpg"), alt: "Daan Zandbelt" %>
    <p class="small">https://youtu.be/9pCx1d0vO7k</p>
  </a>
</div>
