<% if @poll.id == 3 %>
  <div class="margin text-center">
    <a href="https://youtu.be/GN8tduRDhjc" target="_blank">
      <%= image_tag ("polls/jeroen_huizing.jpg"), alt: "Jeroen Huizing" %>
      <p class="small">https://youtu.be/GN8tduRDhjc</p>
    </a>
  </div>
<% end %>

<% if @poll.id == 4 %>
  <div class="margin text-center">
    <a href="https://youtu.be/0RA71P2E_Y4" target="_blank">
      <%= image_tag ("polls/rene_van_der_weide.jpg"), alt: "Rene van der Weide" %>
      <p class="small">https://youtu.be/0RA71P2E_Y4</p>
    </a>
  </div>
<% end %>

<% if @poll.id == 5 %>
  <div class="margin text-center">
    <a href="https://youtu.be/i29JgRCJfi0" target="_blank">
    <%= image_tag ("polls/nynke_houwing.jpg"), alt: "Nynke Houwing" %>
      <p class="small">https://youtu.be/i29JgRCJfi0</p>
    </a>
  </div>
<% end %>
