<div class="header-index-proposals no-margin-top margin-bottom">
  <div class="row" data-equalizer-on="medium" data-equalizer>
    <div class="small-12 medium-9 column padding" data-equalizer-watch>
      <h1><%= t("proposals.index.section_header.title") %></h1>
      <div class="description">
        <p><%= t("proposals.index.section_header.description") %></p>
      </div>
    </div>

    <aside class="small-12 medium-3 column info padding text-center" data-equalizer-watch>
      <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: "button expanded" %>
      <%= link_to t("proposals.index.section_header.help"), "#section_help" %>
    </aside>
  </div>
</div>
