<div class="header-index-proposals no-margin-top margin-bottom">
  <div class="row" data-equalizer-on="medium" data-equalizer>
    <div class="small-12 medium-9 column padding" data-equalizer-watch>
      <h1><%= t("proposals.index.section_header.title") %></h1>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

    <aside class="small-12 medium-3 column info padding" data-equalizer-watch>
      <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: "button expanded" %>
      <%= link_to t("proposals.index.section_header.help"), "#section_help" %>
    </aside>
  </div>
</div>
