<div class="header-index-proposals no-margin-top margin-bottom">
  <div class="row" data-equalizer-on="medium" data-equalizer>
    <div class="small-12 medium-9 column padding" data-equalizer-watch>
      <h1><%= t("proposals.index.section_header.title") %></h1>
      <div class="description">
        <p>Wij (de gemeenteraad) willen inwoners graag meer betrekken bij het besturen van onze gemeente. We komen graag naar u toe voor een gesprek. Het gesprek vindt plaats op xxx april 2020 om xxx uur bij Zalencentrum Bentlage.</p>
        <p>Graag horen wij wat u bezighoudt of waar u moeite mee heeft. Zo kunnen we het bijvoorbeeld hebben over wonen, onderwijs, zorg, bereikbaarheid en milieu, maar ook andere onderwerpen zijn welkom. U kunt via de knop ‘voorstel indienen’ hiernaast uw onderwerp aan ons doorgeven.</p>
        <p><strong>Stemmen op een voorstel</strong></p>
        <p>Als inwoner van De Monden kunt u stemmen op een of meerdere voorstellen die zijn ingediend. Omdat we tijdens de inwonersavond op .... van ... tot ..... niet over alle ingediende onderwerpen kunnen praten, krijgen de vier onderwerpen met de meeste stemmen voorrang.</p>
      </div>
    </div>

    <aside class="small-12 medium-3 column info padding text-center" data-equalizer-watch>
      <%= link_to t("proposals.index.start_proposal"), new_proposal_path, class: "button expanded" %>
      <%= link_to t("proposals.index.section_header.help"), "#section_help" %>
    </aside>
  </div>
</div>
