// Custom settings
//

$brand:               #005a9b;
$brand-secondary:     #b30858;

$text:                #000;

$font-family-serif:   Verdana, Arial, sans-serif;
$body-font-family:    Verdana, Arial, sans-serif;
$header-font-family:  $body-font-family;

$link:                #005a9b;
$link-hover:          #b30858;
