<div class="help-header">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <span class="icon <%= "#{image}" %>"></span>
      <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <p>Wij (de gemeenteraad) willen onze inwoners graag meer betrekken bij het besturen van onze gemeente. Daarom komen we graag naar u toe voor een gesprek. Vanwege corona wordt dit helaas een digitaal gesprek. Het gesprek vindt plaats op donderdag 1 juli 2020.</p>

      <p><strong>Over welk onderwerp wilt u het hebben?</strong><br>
      Graag horen wij wat u bezighoudt of waar u moeite mee heeft. Zo kunnen we het bijvoorbeeld hebben over wonen, onderwijs, zorg, bereikbaarheid en milieu, maar ook andere onderwerpen zijn welkom. U kunt via de knop "onderwerp indienen" uw onderwerp aan ons doorgeven.</p>

      <p><strong>Verschillende onderwerpen</strong><br>
      De gemeenteraad gaat over verschillende onderwerpen, maar niet over alles. Ook kunnen we in één avond niet alles bespreken. Daarom maken wij van alle ingediende onderwerpen een top 15 van alle ingediende onderwerpen. Daarna kunt u stemmen op de onderwerpen. Omdat we het tijdens de avond niet over alle opgestuurde onderwerpen kunnen praten, krijgen de onderwerpen met de meeste stemmen voorrang.</p>
    </div>
  </div>
</div>
