<div class="help-header">
  <div class="row">
    <div class="small-12 column" data-magellan>
      <span class="icon <%= "#{image}" %>"></span>
      <h1 class="inline-block"><%= t("#{i18n_namespace}.title") %></h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <p>
        Wij (de gemeenteraad) willen inwoners graag meer betrekken bij het besturen van onze gemeente. Graag horen wij wat u bezighoudt of waar u moeite mee heeft. Zo kunnen we het bijvoorbeeld hebben over wonen, onderwijs, zorg, bereikbaarheid en milieu, maar u kunt ook uw eigen onderwerpen indienen.
      </p>

      <p>
        <strong>Hoe doet u mee?</strong><br>
        Tot en met 24 mei kunt u zelf onderwerpen indienen via deze site. Dit doet u via de roze knop hieronder ‘Onderwerp indienen’. Onderaan deze pagina ziet u welke onderwerpen andere mensen al hebben ingediend.
      </p>

      <p>
        <strong>Stemmen op de ingediende onderwerpen</strong><br>
        Omdat we tijdens de avond niet over alle ingediende onderwerpen kunnen praten, kunt u van 31 mei t/m 13 juni stemmen op de ingediende onderwerpen. De onderwerpen met de meeste stemmen krijgen voorrang. We willen de avond graag goed voorbereiden en omdat het na het stemmen al snel zomervakantie is, is het gesprek in september 2021. Details volgen later.
      </p>

      <p>
        <strong>Meer informatie</strong><br>
        Wilt u meer weten over de avond of heeft u vooraf al vragen? Stuur dan een email naar <a href="mailto:griffie@emmen.nl">griffie@emmen.nl</a>.
      </p>

      <%= render "shared/not_logged_in" %>
    </div>
  </div>
</div>
